.auth {
  position: absolute;
  z-index: 2;

  background-image: url(../../assets/ul.png);
  background-size: cover;
  background-repeat: no-repeat;

  width: 302px;
  height: 457px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  h1 {
    margin-bottom: 1rem;
  }

  &__signin {
    @include Center;
    flex-direction: column;

    .signin {
      @include Center;
      flex-direction: column;

      .signinError{
        background-image: url(../../assets/input-text-error.png) !important;
      }

      &__email,
      &__password {
        background-image: url(../../assets/input-text.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 221px;
        height: 36px;

        padding-left: 1rem;
        margin-bottom: 8px;

        border: none;
        background-color: transparent;

        outline: none;

        font-family: 'minecraft';
        color: #fff;

        font-family: 'minecraftmedium';
        font-size: 16px;

        &::placeholder {
          font-family: 'minecraftmedium';
          color: darken(#B0BEC5, 10%);
        }

        &:focus {
          background-image: url(../../assets/input-text-active.png);
        }

        &:hover {
          transform: translateY(-2px);
        }

        &:active {
          transform: translateY(1px);
        }
      }

      &__submit {
        height: 44px;
        width: 88px;
        background-color: transparent;
        border: none;
        background-image: url(../../assets/signin.png);
        background-size: cover;
        background-repeat: no-repeat;

        cursor: pointer;

        &:hover {
          transform: translateY(-2px);
        }

        &:active {
          transform: translateY(2px);
        }
      }
    }
  }

  &__signup {
    @include Center;
    flex-direction: column;

    .signup {
      @include Center;
      flex-direction: column;

      &__email,
      &__password {
        background-image: url(../../assets/input-text.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 221px;
        height: 36px;

        padding-left: 1rem;
        margin-bottom: 8px;

        border: none;
        background-color: transparent;

        outline: none;

        font-family: 'minecraft';
        color: #fff;

        font-family: 'minecraftmedium';
        font-size: 16px;

        &::placeholder {
          font-family: 'minecraftmedium';
          color: darken(#B0BEC5, 10%);
        }

        &:focus {
          background-image: url(../../assets/input-text-active.png);
        }

        &:hover {
          transform: translateY(-2px);
        }

        &:active {
          transform: translateY(1px);
        }
      }

      &__submit {
        height: 44px;
        width: 88px;
        background-color: transparent;
        border: none;
        background-image: url(../../assets/signup.png);
        background-size: cover;
        background-repeat: no-repeat;

        cursor: pointer;

        &:hover {
          transform: translateY(-2px);
        }

        &:active {
          transform: translateY(2px);
        }
      }
    }
  }

  &__signout {
    position: fixed;
    z-index: 10;
    height: 44px;
    width: 88px;
    top: 1%;
    right: 1%;
    background-color: transparent;
    border: none;
    background-image: url(../../assets/logout.png);
    background-size: cover;
    background-repeat: no-repeat;

    cursor: pointer;

    &:hover {
      transform: translateY(-2px);
    }

    &:active {
      transform: translateY(2px);
    }
  }
}

